#content-body {
    margin: 20px auto;
    padding: 20px 30px 30px;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    min-width: 640px;
    width: 70%;
    
    box-shadow: 2px 2px 15px #AAAAAA;
    background: whitesmoke;
}

#message-content {
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 20px 30px 30px;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    box-shadow: 2px 2px 15px #AAAAAA;
    background: whitesmoke;
}

#form-container {
    position: relative;
    top: 50px;
    
    margin: 0 auto;
    max-width: 400px;
    min-width: 400px;
    min-height: 390px;
    max-height: 390px;
    
    padding: 10px 50px 0;
    
    overflow: hidden;
    
    background: whitesmoke;
}

#login-container form {
    margin-top: 20px;
    margin-bottom: 75px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 300px;
    height: 30px;
    
    font-size: 21px;
    margin-bottom: 5px;
}

#login-container h2,#register-container h2 {
    text-align: center;
    background: rgba(0,0,0,0.1);
    padding: 3px;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    cursor: pointer;
}

#login-container h2:hover,#register-container h2:hover {
    background: rgba(0,0,0,0.15);
}

#login-container h2:active,#register-container h2:active {
    background: rgba(0,0,0,0.075);
}

.fa-smfnt {
    font-size: 20px !important;
    vertical-align: middle;
    padding-left: 3px;
}