#content-body {
    margin: 20px auto;
    padding: 20px 30px 30px;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    min-width: 640px;
    width: 70%;
    
    box-shadow: 2px 2px 15px #AAAAAA;
    background: whitesmoke;
}

#view-body {
    margin: 20px auto;
    padding: 20px 30px 30px;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    min-width: 680px;
    width: 90%;
    
    box-shadow: 2px 2px 15px #AAAAAA;
    background: whitesmoke;
}

#message-content {
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 20px 30px 30px;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    box-shadow: 2px 2px 15px #AAAAAA;
    background: whitesmoke;
}

#form-container {
    position: relative;
    top: 50px;
    
    margin: 0 auto;
    max-width: 400px;
    min-width: 400px;
    min-height: 440px;
    max-height: 440px;
    
    padding: 10px 50px 0;
    
    overflow: hidden;
    
    background: whitesmoke;
}

#login-container form {
    margin-top: 20px;
    margin-bottom: 125px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 300px;
    height: 30px;
    
    font-size: 21px;
    margin-bottom: 5px;
}

#login-container h2,#register-container h2 {
    text-align: center;
    background: rgba(0,0,0,0.1);
    padding: 3px;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    cursor: pointer;
}

#login-container h2:hover,#register-container h2:hover {
    background: rgba(0,0,0,0.15);
}

#login-container h2:active,#register-container h2:active {
    background: rgba(0,0,0,0.075);
}

.fa-smfnt {
    font-size: 20px !important;
    vertical-align: middle;
    padding-left: 3px;
}

.content-visuals {
    display: inline-block;
    margin: 20px 0 20px 20px;
    padding: 20px 30px 30px;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    box-shadow: 2px 2px 15px #AAAAAA;
    background: whitesmoke;
}

#deckcard-filter {
    position: absolute;
    top: 0;
    left: 0;
    right: calc(100% - 300px);
    bottom: 0;
    padding: 20px 30px 30px;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    background: whitesmoke;
    border-right: 3px solid lightgrey;
}

#deckcard-container {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    
    padding: 20px 30px 30px;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    background: whitesmoke;
}

#searchbox {
    width: 100%;
    font-size: 20px;
    padding: 5px;
}

.forms {
    margin: 50px 0;
}

.forms input:not([type="submit"]) {
    margin-bottom: 20px;
    font-size: 15px;
    padding: 5px;
}

.forms input[type="submit"], #password-status {
    margin-left: 160px;
    padding: 2px 20px;
}

.forms label {
    width: 150px;
    margin-right: 10px;
}

#password-status {
    display: none;
    
    position: absolute;
    margin-top: -10px;
    padding: 0;
    
    color: crimson;
}

#container {
    margin: 20px auto;
    padding: 20px 30px 30px;
    
    overflow-x: hidden;
    overflow-y: auto;
    width: 550px;
    
    box-shadow: 2px 2px 15px #AAAAAA;
    background: whitesmoke;
}

td {
    padding: 5px !important;
}

th {
    padding: 5px !important;
}

.dataTables_scrollBody table th {
    padding: 0 !important;
}

.tinycol {
    width: 1%;
    overflow-x: hidden;
}

.shortcol {
    min-width: 85px;
    width: 1%;
}

.largecol {
    width: 300px;
}

.controlcol {
    width: 1%;
}

.gotocard, .gotodeck {
    cursor: pointer;
}

fieldset {
    margin-top: 10px;
}

.btn-control {
    margin-bottom: 20px;
}

tr:hover td {
    background: linear-gradient(to bottom,#F0C281 0,#EDB25F 100%);
}

.dashboarditem {
    width: 100%;
    height: 150px;
    padding: 10px 40px;
    margin-top: 10px;
    
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    
    transition: 150ms;
}

.dashboarditem * {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
}

.dashboarditem:hover {
    background: rgba(0,0,0,0.3);
}

.dashboarditem:active {
    background: rgba(0,0,0,0.5);
    color: whitesmoke;
}

#editorform {
    width: 410px;
    display: block;
    margin: 60px auto;
}

#editorform label {
    width: 100px;
}

input[type="number"] {
    height: 30px;
    font-size: 16px;
}

select {
    width: 300px;
    height: 30px;
    font-size: 16px;
}

#editorform input[type="submit"] {
    margin: 10px 0 0 110px;
    width: 300px;
}

.tablecontainer {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

table.display.compact {
    display: inline-block;
}